@media screen and (max-width: 900px){
  #desktop-nav{
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }

  #profile {
    flex-direction: column;
    height: auto;
    gap: 0.1rem;
    align-items: center;
    justify-content: start;
  }
  
  .section__pic-container {
    height: 70vw;
    width: 70vw;
    margin-bottom: 0.1rem;
    margin-top: 0.1rem;
  }

  #intro-section {
    align-self: center;
    text-align: left;
    width: 70vw;
    height: auto;
  }
}